body{
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

figure{
    display: flex;
    margin: 0 auto;

}


.image{

    object-fit: cover;
}

.container{
    
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 45rem;
    height: 35rem;
    display: flex;
    background-color:white;
    border-radius: 1rem;
    color: hsl(228, 12%, 48%);
    overflow: hidden;
}

.title{

    font-family: 'Fraunces', serif;
    font-weight: 900;
    color:hsl(212, 21%, 14%);

}

.text{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#real-preco{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2rem;
    color: hsl(158, 36%, 37%) ; 
}
#fake-preco{
    text-decoration: line-through;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    padding: 1rem;
    color:hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%) ;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3rem;

}

.button:hover{
    background-color:  hsl(157, 25%, 16%)  ;
    cursor: pointer;
}

@media (max-width: 1024px){
    .image{
       content:url("./images/image-product-mobile.jpg");
    }
    figure{
        display: flex;
        text-align: center;
    }
    .container{
        width: 35rem;
        height: auto;
        
        flex-direction: column;
    
    }

    .title{
        text-align:  center;
    }
    .sub{
        text-align: center;
    }

    .text{
        align-items: center;

        max-width: 100%;
    }
}

@media (max-width: 768px){
    .image{
        content:url("./images/image-product-mobile.jpg");
     }
     figure{
         display: flex;
         text-align: center;
     }
     .container{
         width: 20rem;
         height: auto;
         
         flex-direction: column;
     
     }
 
     .title{
         text-align:  center;
     }
     .sub{
         text-align: center;
     }
 
     .text{
         align-items: center;
 
         max-width: 100%;
     }
 }
